.about#about
    .container
        .section__title
            h2.title О компании EcoWood
                span.section__title-icon
                    +svg('list')
        .about__inner.js-hidden-container
            .about__wrapper
                span.about__description «EcoWood» - оборудование сочетающее в себе лучшие решения по деревообработке и обладающее экономичностью и доступностью технологий для каждого<br><br> Сушильные камеры «EcoWood» это:
                ul.about__list
                    li.about__list-item Полный цикл изготовления сушильной камеры от проектирования и производства до сервисного обслуживания
                    li.about__list-item Современные, технологичные, соответствующие ГОСТам  сушильные камеры конвективного типа, которые вобрали в себя все лучшее от Европейских аналогов, но сохранили для Вас отличную цену.
                    li.about__list-item Технически выверенные расчеты и чертежи выполняемые опытными конструкторами с использованием самых современных компьютерных технологий. Камеры максимально модернизированы и адаптированы к эксплуатации в суровых Российских условиях.
                    li.about__list-item Высококвалифицированные технические специалисты, готовые проконсультировать вас по любому вопросу , связанному с сушкой древесины.
                    li.about__list-item Собственное производство в РФ позволяет производить расчет и изготовление сушильной камеры в кратчайшие сроки. А современное оборудование на заводе позволяет оптимизировать технологические процессы и получить продукт с низкой себестоимостью.
                    li.about__list-item Применение комплектующих Европейского производства обеспечит высокое качество сушки и надежность камеры в течение многих лет
                    li.about__list-item Собственная сервисная служба, состоящая из 14 сервисных инженеров, способных в кратчайшее время запустить сушильные камеры или произвести необходимые настройки.   
                    li.about__list-item Гарантия 12 месяцев с момента запуска.
                    li.about__list-item Большой склад запасных частей  и комплектующих.
            span.about__btn.button-more.button-more--text.js-more-btn Развернуть
        .about__advantages(style="background-image: url(assets/images/4.jpg)")
            .about__advantages-stat
                .about__advantages-item
                    .about__advantages-icon
                        +svg('up')
                    span.about__advantages-text <b>10 лет</b> на рынке
                .about__advantages-item
                    .about__advantages-icon
                        +svg('set')
                    span.about__advantages-text Установлено <b>200+</b> камер
        include service.pug