.about#about
    .container
        .section__title
            h2.title О компании EcoWood
                span.section__title-icon
                    +svg('list')
        .about__inner.js-hidden-container
            span.about__description Компания  «EcoWood» это подразделение крупнейшего поставщика промышленного оборудования на территории России и СНГ с центральным офисом в Москве и 17 торговыми представительствами в крупнейших городах РФ. <br> EcoWood  – это полный цикл изготовления и обслуживания сушильных камер.<br> Благодаря этому, а так же&nbsp; высокой квалификации сотрудников завода,  сушильные камеры&nbsp; «EcoWood»&nbsp; по качеству не уступают европейским аналогам.  Поэтому, можно сказать, покупая камеры&nbsp; «EcoWood», Вы покупаете европейские камеры, собранные  в России.<br>
            span.about__btn.button-more.button-more--text.js-more-btn Развернуть
        .about__advantages(style="background-image: url(assets/images/4.jpg)")
            .about__advantages-stat
                .about__advantages-item
                    .about__advantages-icon
                        +svg('up')
                    span.about__advantages-text <b>10 лет</b> на рынке
                .about__advantages-item
                    .about__advantages-icon
                        +svg('set')
                    span.about__advantages-text Установлено <b>200+</b> камер
        include service.pug