.about{
    padding: 55px 0 65px 0;

    @include media-breakpoint-down(mobile) {
        text-align: center;
    }
    &__inner{
        text-align: center;
        &.is-hidden{
            .about__wrapper{
                max-height: 318px;
                position: relative;
                overflow: hidden;
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100px;
                    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
                    background: -o-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0));
                    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
                    opacity: 1;
                    transition: opacity .4s ease;
                }
            }
        }
    }

    &__wrapper{
        column-count: 2;
        column-gap: 43px;
        margin-top: 35px;
        text-align: left;
        max-height: 2000px;
        transition: all .4s ease;
        overflow: hidden;

        @include media-breakpoint-down(tablet) {
            column-count: 1;
        }
    }

    &__description{
        font-size: 16px;
        line-height: 32px;
        font-weight: 500;
        text-align: left;
    }

    &__advantages{
        height: 300px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 10px;
        position: relative;
        margin-top: 50px;

        @include media-breakpoint-down(tablet) {
            margin-right: calc((100vw - 730px) / 2 * -1);
            margin-left: calc((100vw - 730px) / 2 * -1);
            width: auto;
            border-radius: 0;
        }

        @include media-breakpoint-down(mobile) {
            margin-right: -20px;
            margin-left: -20px;
            background-image: url('../assets/images/forest.jpg') !important;
            background-position: bottom center;
        }

        &-stat{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            text-align: center;

            @include media-breakpoint-down(mobile) {
                right: auto;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: left;
            }
        }

        &-item{
            background-color: rgba(#26130d, 0.65);
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding: 21px 35px;
            &:not(:last-child){
                margin-bottom: 38px;
                display: inline-flex;
            }

            @include media-breakpoint-down(mobile) {
                padding: 21px;
                min-width: 281px;
                max-width: 281px;
            }
            
        }

        &-icon{
            margin-right: 23px;

            @include media-breakpoint-down(mobile) {
                flex-shrink: 0;
                margin-right: 15px;
            }
            svg.up{
                width: 37px;
                height: 44px;
                opacity: 0.8;
            }
            svg.set{
                width: 42px;
                height: 50px;
                opacity: 0.6;
                @include media-breakpoint-down(mobile) {
                    width: 37px;
                }
            }
            
        }

        &-text{
            font-size: 30px;
            line-height: 32px;
            font-weight: 500;
            color: #fff;

            @include media-breakpoint-down(mobile) {
                font-size: 22px;
                line-height: 24px;
            }
        }
    }

    &__btn{
        display: inline-block;
        margin-top: 20px;
    }

    &__list{
        padding-left: 20px;
        margin: 15px 0 20px;

        &-item{
            font-size: 16px;
            line-height: 32px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
        
}