.about#about
    .container
        .section__title
            h2.title О компании EcoWood
                span.section__title-icon
                    +svg('list')
        .about__inner.js-hidden-container
            span.about__description Компания "Ecowood" специализируется в производстве и установке сушильных камер. В настоящее время смонтировано более 300 штук. Мало кто обладает подобным опытом. Благодаря этому опыту монтируем камеры для сушки древесины быстро, качественно и экономно. Именно поэтому наши заказчики возвращаются к нам с новыми заказами. <br><br>Компания "Ecowood" в течение длительного времени успешно занимается производством сушильных камер согласно разработкам технических, реконструкторских и модернизаторских решений, необходимость в которых может возникнуть в процессе индивидуальной работы с каждым из клиентов. В штате компании работают профессиональные менеджеры, которые могут проконсультировать по любому вопросу, связанному с сушкой древесины, а также высококвалифицированный технический персонал, который производит монтаж сушильных камер.
            span.about__btn.button-more.button-more--text.js-more-btn Развернуть
        .about__advantages(style="background-image: url(assets/images/4.jpg)")
            .about__advantages-stat
                .about__advantages-item
                    .about__advantages-icon
                        +svg('up')
                    span.about__advantages-text <b>10 лет</b> на рынке
                .about__advantages-item
                    .about__advantages-icon
                        +svg('set')
                    span.about__advantages-text Установлено <b>200+</b> камер
        include service.pug