.about#about
    .container
        .section__title
            h2.title О компании EcoWood
                span.section__title-icon
                    +svg('list')
        .about__inner.js-hidden-container
            .about__wrapper
                span.about__description Компания  «EcoWood» это подразделение крупнейшего поставщика промышленного оборудования на территории России и СНГ с центральным офисом в Москве и 17 торговыми представительствами в крупнейших городах РФ.<br><br> EcoWood –это полный цикл изготовления и обслуживания сушильных камер:
                ul.about__list
                    li.about__list-item Проектирование: Технические расчеты и чертежи выполняются опытными конструкторами с использованием самых современных компьютерных технологий. Камеры максимально модернизированы и адаптированы к эксплуатации в суровых Российских условиях;
                    li.about__list-item Высококвалифицированные технические специалисты, готовые проконсультировать по любому вопросу , связанному с сушкой древесины;
                    li.about__list-item Производство  (изготовление сушильных комплексов): на производственных площадках  применяется высокоточное металлообрабатывающее оборудование от ведущих производителей: Mazak (Япония), TRUMPH (Германия), Bystronic (Швейцария);
                    li.about__list-item Сервис (технический персонал, который производит монтаж и шеф-монтаж сушильных комплексов, обучение);
                    li.about__list-item Гарантийный отдел (гарантийное и послегарантийное  обслуживание);
                    li.about__list-item Большой склад запасных частей  и комплектующих от ведущих поставщиков Европы.
                span.about__description Благодаря этому, а так же  высокой квалификации сотрудников завода, сушильные камеры  «EcoWood»  по качеству не уступают европейским аналогам. Поэтому, можно сказать, покупая камеры  «EcoWood» , Вы покупаете европейские камеры, собранные в России. 
            span.about__btn.button-more.button-more--text.js-more-btn Развернуть
        .about__advantages(style="background-image: url(assets/images/4.jpg)")
            .about__advantages-stat
                .about__advantages-item
                    .about__advantages-icon
                        +svg('up')
                    span.about__advantages-text <b>10 лет</b> на рынке
                .about__advantages-item
                    .about__advantages-icon
                        +svg('set')
                    span.about__advantages-text Установлено <b>200+</b> камер
        include service.pug