.about__service.service
    .service__inner
        .service__row
            h3.service__row-title Техничиские особенности
            .service__row-wrap
                .service__item
                    span.service__item-description В качестве утеплителя в стеновых панелях используется минеральная вата или пенополиостирол толщиной 150 мм, что позволяет эксплуатировать сушильные камеры при температуре окружающей среды до -55 0С. <br><br>Полностью алюминиевый каркас: опорные конструкции из профиля с толщиной стенок 5 мм. Размеры в сечении - 100х120 мм или 100х150 мм. Продольные и поперечные связи - из профиля 100х50, 50х50, толщина стенок 5 мм. Опорные фермы - сварные из профиля 100х50 мм. Передняя ферма - усиленной
                    a(href="#").service__item-btn.button-more.button-more--text Развернуть
                .service__item.service__item--pic(style="background-image: url(assets/images/service1.jpg)")
        .service__row
            h3.service__row-title Сиситема винтеляции
            .service__row-wrap
                .service__item
                    span.service__item-description Комплектуется осевыми вентиляторами, которые устанавливаются на алюминиевой ферме над подвесным потолком. <br>Электродвигатель вентилятора предназначен для работы при температуре более 115°С и влажности 100%, в тропическом исполнении, (класс теплостойкости Н), степень защиты IP 55 (пылезащищенный, защита от водяных струй со всех сторон), скорость вращения вала 1500 об/мин. Ресурс работы составляет до 10-15 лет. <br>Производитель двигателей – Lafert(Италия). Крыльчаток – Elektrovent(Италия)
                    a(href="#").service__item-btn.button-more.button-more--text Развернуть
                .service__item.service__item--pic(style="background-image: url(assets/images/service2.jpg)")
        .service__row
            h3.service__row-title Автоматический контроллер LiTOUCH (Производство Италия)
            .service__row-wrap
                .service__item
                    span.service__item-description LItouch является естественной эволюцией известной системы управления DELPHI, получены сочетания более продвинутого контроллера dTOUCH с особенностями DELPHI. В результате система управления, которая сочетает в себе легкость DELPHI с удобным интерфейсом dTOUCH. <br><br>Контроллер разработанный на основе передовых технологий в электронике, вобрал в себя результаты многолетнего опыта производства автоматики сушильных камер
                    a(href="#").service__item-btn.button-more.button-more--text Развернуть
                .service__item.service__item--pic(style="background-image: url(assets/images/service3.jpg)")
    a(href="#").service__btn.button-more.button-more--service Показать еще