.about__service.service.js-parent
    .service__inner
        .service__row
            h3.service__row-title Техничиские особенности
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Полностью алюминиевый каркас: опорные конструкции из профиля с толщиной стенок 5 мм. Размеры в сечении – 100х120 мм или 100х150 мм. Продольные и поперечные связи - из профиля 100х50, 50х50, толщина стенок 5 мм. Опорные фермы - сварные из профиля 100х50 мм. Передняя ферма - усиленной конструкции из профиля 130х60х5 мм под установку трех кронштейнов подвески монорельса. Стойки и перекладина воротного притвора из алюминиевого профиля 130х60х5 мм с нержавеющими деталями подвески ворот. <br><br> В качестве утеплителя в стеновых панелях используется минеральная вата или пенополиостирол толщиной 150 мм, что позволяет эксплуатировать сушильные камеры при температуре окружающей среды до -55 °С. <br><br> Снаружи на каркас сушильной камеры установлены алюминиевые панели кассетного типа. Толщина алюминия 1.0 мм, кассеты изготовлены на гибочном оборудовании. Длина кассет 2400 мм, ширина 900 мм, высота стенок от 100 до 150 мм (под установку утеплителя - минеральной ваты соответствующей толщины; как стандарт – 150 мм).  Кассеты смонтированы горизонтальными рядами снизу до верху и закреплены к трубному профилю каркаса нержавеющими саморезами и алюминиевыми заклепками. После установки утеплителя в кассеты, стены зашиты (снаружи) алюминиевым профильным листом НС-20.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/service1.jpg)")
        .service__row
            h3.service__row-title Сиситема винтеляции
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Комплектуется осевыми вентиляторами, которые устанавливаются на алюминиевой ферме над подвесным потолком.<br><br> Электродвигатель вентилятора предназначен для работы при температуре более 115 °С и влажности 100%, в тропическом исполнении, (класс теплостойкости Н), степень защиты IP 55 (пылезащищенный, защита от водяных струй со всех сторон), скорость вращения вала 1500 об/мин. Ресурс работы составляет до 10-15 лет. <br><br>Производитель двигателей – Lafert (Италия). Крыльчаток – Elektrovent (Италия).<br><br> Крыльчатка вентилятора 8-ми лопастная алюминиевая с симметричным профилем для обеспечения одинаковой эффективности при вращении в обоих направлениях, благодаря идеальной заводской балансировке и калибровки угла атаки лопастей под рабочую мощность двигателя, достигается максимальный коэффициент полезного действия и вследствие этого происходит экономия энергии. Рабочая температура от -800 °С до +3000 °С. Обечайки выполнены из алюминия.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/service2.jpg)")
        .service__row
            h3.service__row-title Автоматический контроллер LiTOUCH (Производство Италия)
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text LItouch  является естественной эволюцией известной системы управления DELPHI, получены сочетания более продвинутого контроллера dTOUCH с особенностями DELPHI. В результате система управления, которая сочетает в себе легкость DELPHI с удобным интерфейсом dTOUCH. <br><br>Контроллер разработанный на основе передовых технологий в электронике, вобрал в себя результаты многолетнего опыта производства автоматики сушильных камер. Удобное меню позволяет производить быструю настройку контроллера даже неопытному пользователю. Все страницы контроллера имеют строку текущего состояния.  <br><br>ОПЦИЯ. С помощью программного обеспечения LView (поставляется по дополнительному согласованию) можно управлять комплексом сушильных камер (поддерживает до 32-х камер). Система подключается к персональному компьютеру с помощью USB преобразователя, он же электронный ключ. Программа позволяет обновлять версии прошивки при наличии подключения к сети интернет. С помощью программного обеспечения оператор может выполнять на ПК все операции, доступные из местной панели. Программное обеспечение для ПК позволяет записывать данные в ходе процесса сушки, представляя их в виде таблицы или графика.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/service3.jpg)")
        .service__row.js-more-element
            h3.service__row-title Подвесной потолок
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Состоит  из профильных алюминиевых листов, установленных на специальные направляющие, что обеспечивает простоту монтажа и даёт доступ к&nbsp;sвентиляторам при проведении их обслуживания.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/potolok.jpg)")
        .service__row.js-more-element
            h3.service__row-title Ворота подъёмно-откатного типа
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Каркас изготовлен из алюминиевого профиля, механически скреплённого друг с другом винтами из нержавеющей стали и снабженного тягами для обеспечения устойчивости и прочности. Имеют девять точек прижима. Ворота идеально изолированы благодаря специальному профилю из твердого силикона по всему периметру ворот. Для подъёма ворот используется гидравлическая тележка, которая обеспечивает легкий подъём и сдвиг ворот.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/vorota.jpg)")
        .service__row.js-more-element
            h3.service__row-title Верхние и боковые шторки
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Для предотвращения паразитных потоков воздуха сверху и по бокам устанавливаются резиновые шторки.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/verh.png)")
        .service__row.js-more-element
            h3.service__row-title Воздушные заслонки
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Воздушные заслонки, регулируют обмен потока внутреннего воздуха. Размер сечения заслонки  450х450 мм. Приводы  <strong>Belimo (Швейцария)</strong> пропорционально управляют открытием и закрытием воздушных заслонок. Воздушные заслонки могут быть расположены как на крыше, так на передней или задней стенке сушильной камеры.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/zaslonki.png)")
        .service__row.js-more-element
            h3.service__row-title Система нагрева
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Каркас изготовлен из алюминиевого профиля, механически скреплённого друг с другом винтами из нержавеющей стали и снабженного тягами для обеспечения устойчивости и прочности. Имеют девять точек прижима. Ворота идеально изолированы благодаря специальному профилю из твердого силикона по всему периметру ворот. Для подъёма ворот используется гидравлическая тележка, которая обеспечивает легкий подъём и сдвиг ворот.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/nagrev.jpg)")
        .service__row.js-more-element
            h3.service__row-title Инспекционные двери
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Располагаются в воротах и на задней стенке сушильной камеры. Изготовлены из алюминиевого корпуса с силиконовыми прокладками, с термоизоляцией как в стенах камеры. Оборудована удобным замком. Наличие двух инспекционных дверей позволяет  контролировать все датчики, и сам процесс сушки.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/dveri.jpg)")
        .service__row.js-more-element
            h3.service__row-title Трехходовой кран для регулирования подачи горячей воды
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Для подачи горячей воды в сушильную камеру используется трехходовой кран с исполнительным приводом производства <strong>Belimo (Швейцария).</strong> Диаметр (ДУ) 50 или 65 мм. Кран регулирует подачу горячей воды в пропорциональном режиме.
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/gor.jpg)")
        .service__row.js-more-element
            h3.service__row-title Система увлажнения 
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Двухсторонняя (или односторонняя) система увлажнения поставляется вместе с двумя электромагнитными клапанами и располагается на задней стенке и на стенке над воротами. Благодаря двум веткам увлажнения, включаются форсунки той стороны, в чью сторону работает реверс. Это исключает возможность сбивания капель увлажнения на стены камеры и прямого попадания на древесину и в несколько раз увеличивает эффективность работы системы увлажнения. Трубы, на которых закреплены распыляющие форсунки из латуни, изготовлены из меди. <br><br> - комплект распределительных труб из меди с форсунками.<br>- 5+5 форсунок (на каждой стороне камеры)<br>- форсунки <strong>Danfoss (Дания),</strong> каждая имеет встроенный фильтр.<br>- пропускная способность каждой форсунки 18,5 л/час<br>- два электромагнитных клапана <strong>Danfoss (Дания)</strong><br>- фильтр для очистки<br> Для увлажнения используется холодная вода, давление не менее 5-6 Бар.

                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/uvlazh.jpg)")
        .service__row.js-more-element
            h3.service__row-title Электрощит управления  
            .service__row-wrap
                .service__item
                    .service__item-wrap.js-hidden-container
                        span.service__item-description.js-service-text Электрощит управления, отвечающий самым высоким и современным требованиям, имеет полную электрозащиту, имеет дублирующее управление, световую индикацию и максимальную степень надежности.<br>Электрическая панель осуществляет автоматическое или ручное управление всеми функциями сушильного процесса.<br>Встроенные огни помогают оператору отслеживать текущее состояние и помогают легко найти и устранить неисправность. <br><br> <strong>Характеристики:</strong><br><br> - Защита по входному напряжению:<br> а) от перекоса фаз<br> б) от пропадания фазы<br>в) от пропадания нуля<br> г) от подмены фазы вместо нуля<br> д) от отклонения напряжения<br> е) от чередования фаз<br><br> - Защита силовых выходных цепей:<br> а) от перегрузки<br> б) от обрыва цепи<br> в) от короткого замыкания<br><br> - Защита коммутационных цепей внутренней разводки щита<br>- Световая индикация аварийной цепи<br> - Защита выходных цепей контроллера<br> - Последовательный запуск моторов (интервал 1 сек.)<br> - Индикация состояния каждого мотора (работа, пауза, авария)<br> - Защита от случайного включения вентилятора в реверсивную сторону без паузы<br> - Контроль, индикация и защита от неблагоприятных температурных режимов   эксплуатации пульта управления<br> - Стабилизатор питания контроллера<br> - Индикация состояния входного напряжения (В случае отклонения напряжения сети от нормы произойдет отключение моторов, при восстановлении питания моторы будут запущены автоматически по истечении 3-х минут)<br> - Индикация направления вращения моторов<br>- Индикация подаваемых импульсов на приводы заслонок, крана, системы увлажнения (откр. или закр.)<br> - Индикация положения переключателей режима (ручной или автоматический)<br> - Возможность пропорционального управления каждым контуром (нагревом, увлажнением, обдувом или аспирацией) в отдельности (без участия контроллера) - Возможность работать полностью без участия контроллера<br> - Две независимые от направления вращения вентиляторов, линии увлажнения<br> - При аварийном выключении контроллером вентиляторов из-за критически низкой влажности воздуха будут задействованы одновременно две линии увлажнения<br>  - При отключении и включении электропитания процесс сушки самостоятельно продолжится с места остановки.<br><br> <strong>Высококачественные импортные комплектующие, сборка – Россия.</strong>
                        span.service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                    .service__item.service__item--pic(style="background-image: url(assets/images/electro.jpg)")
    span.service__btn.button-more.button-more--element(data-text-btn="Показать еще") Показать еще