.header.lock-padding
    .container.container--fluid
        .header__inner
            nav.header__menu
                .header__menu-left
                    .header__menu-item
                        a(href="#main").header__menu-link Главная
                    .header__menu-item
                        a(href="#about").header__menu-link О компании
                    .header__menu-item
                        a(href="#product").header__menu-link Сушильные камеры
                .header__menu-right
                    .header__menu-item
                        a(href="#project").header__menu-link Фотогаллерея
                    .header__menu-item
                        a(href="#leasing").header__menu-link Лизинг
                    .header__menu-item
                        a(href="#contact").header__menu-link Контакты
            a(href="#main").header__logo
                img(src="assets/images/logo.jpg", alt="logo")
            .header__burger.burg.js-burg
                .burg__line
                .burg__line
                .burg__line
                .burg__line