.footer
    .container
        .footer__inner
            a(href="#main").footer__logo
                img(src="assets/images/footer-logo.png", alt="")
            nav.footer__menu
                a(href="#about").footer__menu-item О компании
                a(href="#product").footer__menu-item Сушильные камеры 
                a(href="#project").footer__menu-item Наши проекты
                a(href="#leasing").footer__menu-item Лизинг
                a(href="#contact").footer__menu-item Контакты
            .footer__contact
                span.footer__contact-item 105318, Москва, Семёновская пл. 1А
                .footer__contact-wrapper 
                    a(href="tel:88005118355").footer__contact-item 8 (800) 511-83-55
                    a(href="tel:+74951376255").footer__contact-item +7 (495) 137-62-55 
                a(href="mailto:info@ecowood.com.ru").footer__contact-item info@ecowood.com.ru
            span.footer__text Вы принимаете условия <a href="assets/conf.pdf" target="_blank">политики конфиденциальности</a> каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте ecowood.com.ru