.footer
    .container
        .footer__inner
            a(href="#main").footer__logo
                img(src="assets/images/footer-logo.png", alt="")
            nav.footer__menu
                a(href="#about").footer__menu-item О компании
                a(href="#product").footer__menu-item Сушильные камеры 
                a(href="#project").footer__menu-item Наши проекты 
                a(href="#leasing").footer__menu-item Лизинг
                a(href="#contact").footer__menu-item Контакты
            .footer__contact
                span.footer__contact-item 100000, Москва, ул.&nbsp;Электрозаводская, д.&nbsp;1 оф.&nbsp;1
                .footer__contact-wrapper 
                    a(href="tel:88001234567").footer__contact-item 8 (800) 123-45-67 
                    a(href="tel:+74951234567").footer__contact-item +7 (495) 123-45-67 
                a(href="mailto:info@info.ru").footer__contact-item info@info.ru
            span.footer__text Вы принимаете условия <a href="assets/conf.pdf" target="_blank">политики конфиденциальности</a> каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте eco-wood.ru.