.main(style="background-image: url('assets/images/forest.jpg')")
    .container.container--fluid
        .main__inner
            .main__wrapper
                h2.main__title Сушильные камеры
                span.main__description Замечательные сушильные камеры замечательные сушильные камеры замечательные сушильные камеры
                a(href="#").main__button.button Узнать подробнее
            .main__pic
                img(src="assets/images/wood550.png", alt="")