.leasing#leasing
    .container
        .section__title
            h2.title Лизинг
                span.section__title-icon
                    +svg('list')
        .leasing__inner
            .leasing__col
                .leasing__partners
                    <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/partners-mobile.png">
                        <img src="assets/images/partners.png" alt="">
                    </picture>
            .leasing__col.leasing__col--text
                span.leasing__text Любое оборудование, представленное на сайте компании «EcoWood» возможно приобрести с помощью лизинга. 
                span.leasing__text Мы сотрудничаем <b>с ведущими лизинговыми компаниями,</b> представленными на рынке России и с радостью поможем получить <b>лучшее предложение</b> на финансирование.
        .leasing__wrapper
            span.leasing__btn-text Хотите в лизинг?
            button.leasing__btn.button.js-popup-show(data-content=".js-popup-leasing") Хочу!