.project{
    padding: 65px 0 65px 0;
    &__inner{
        display: flex;
        height: 570px;
        justify-content: space-between;
        margin-top: 45px;

        @include media-breakpoint-down(tablet) {
            flex-wrap: wrap;
            height: 1000px;
        }
    }

    &__col{
        width: calc(50% - 7px);

        @include media-breakpoint-down(tablet) {
            height: 50%;
            width: 100%;
            margin-bottom: 14px;
        }

        &:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .project__col-wrapper{
                height: calc(50% - 7px);
                display: flex;
                justify-content: space-between;
            }

            .project__item{
                width: calc(50% - 7px);
            }
            
        }
    }

    &__item{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover{
            .project__item-wrap{
                transform: translateY(0) translateZ(0);
            }
        }

        &-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.35);
            text-align: center;
            color: #fff;
            border-radius: 10px;
            padding: 38px 0px;
            transform: translateY(100%) translateZ(0);
            transition: transform .4s ease;
        }

        &-title{
            font-size: 34px;
            line-height: 36px;
            font-weight: 600;
            display: block;
        }

        &-adress{
            font-size: 16px;
            line-height: 36px;
            font-weight: 600;
            display: block;
        }

    }
}