.project#project
    .container
        .section__title
            h2.title Наши проекты
                span.section__title-icon
                    +svg('list')
        .project__inner
            .project__col
                .project__item(style="background-image: url(assets/images/project1.jpg)")
                    .project__item-wrap
                        span.project__item-title EcoWood 10
                        span.project__item-adress г. Балашиха, МО, 2020
            .project__col
                .project__col-wrapper
                    .project__item(style="background-image: url(assets/images/project2.jpg)")
                        .project__item-wrap
                            span.project__item-title EcoWood 10
                            span.project__item-adress г. Балашиха, МО, 2020
                    .project__item(style="background-image: url(assets/images/project3.jpg)")
                        .project__item-wrap
                            span.project__item-title EcoWood 10
                            span.project__item-adress г. Балашиха, МО, 2020
                .project__col-wrapper
                    .project__item(style="background-image: url(assets/images/project4.jpg)")
                        .project__item-wrap
                            span.project__item-title EcoWood 10
                            span.project__item-adress г. Балашиха, МО, 2020
                    .project__item(style="background-image: url(assets/images/project5.jpg)")
                        .project__item-wrap
                            span.project__item-title EcoWood 10
                            span.project__item-adress г. Балашиха, МО, 2020