.project{
    padding: 65px 0 65px 0;
    &__inner{
        display: flex;
        height: 570px;
        justify-content: space-between;

        @include media-breakpoint-down(tablet) {
            flex-wrap: wrap;
            height: auto;
        }

        @include media-breakpoint-down(mobile) {
            &:nth-child(2),
            &:nth-child(3){
                display: none;
            }
        }
    }
    .section__title{
        margin-bottom: 45px;
    }

    &__slider{
        position: relative;
    }

    &__wrapper{

        @include media-breakpoint-down(mobile) {
            flex-wrap: wrap;
        }
    }

    @include media-breakpoint-down(mobile) {
        text-align: center;
    }

    &__col{
        width: calc(50% - 7px);

        @include media-breakpoint-down(tablet) {
            height: auto;
            width: 100%;
            margin-bottom: 14px;
        }

        @include media-breakpoint-down(mobile) {
            margin-bottom: 0;
        }

        &--bar{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 

            .project__col-wrapper{
                height: calc(50% - 7px);
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-down(tablet) {
                    height: auto;
                    margin-bottom: 14px;
                }

                @include media-breakpoint-down(mobile) {
                    flex-wrap: wrap;
                    margin-bottom: 0;
                }
            }

            .project__item{
                width: calc(50% - 7px);

                @include media-breakpoint-down(mobile) {
                    width: 100%;
                }
            }
        }
    }

    &__item{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(tablet) {
            height: 344px;
        }

        @include media-breakpoint-down(mobile) {
            height: auto;
            margin-bottom: 12px;
            width: 500px !important;
            max-width: 100% !important;
            margin: 0 auto 12px !important;

            &::after{
                content: '';
                display: block;
                padding-top: 100%;
            }
        }
    }

    &__btn-more{
        display: none;
        position: relative;
        &::after,
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 100vw;
            background-color: #e87e00;
            opacity: 0.3;
            pointer-events: none;
        }
        &::after{
            left: 125%;

            @include media-breakpoint-down(mobile) {
                left: 110%;
            }
        }
        &::before{
            right: 125%;

            @include media-breakpoint-down(mobile) {
                right: 110%;
            }
        }

        @include media-breakpoint-down(mobile) {
            display: inline-block;
            margin-top: 40px;
        }
    }

    &.is-active{
        .project__inner:nth-child(2),
        .project__inner:nth-child(3){
            display: block;
        }
    }

    &-button{
        width: 90px;
        height: 90px;
        background-color: rgba(#e87e00, 0.65);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        transition: background-color .4s ease;

        @include media-breakpoint-down(mobile) {
            display: none;
        }

        &:hover{
            background-color: rgba(#e87e00, 1); 
        }

        &-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            svg{
                fill: #ffffff;
                width: 30px;
                height: 30px;
            }
        }
        &--prev{
            left: -2%;
            .project-button-icon{
                transform: translate(-50%, -62%) rotate(180deg);
            }
        }
        &--next{
            right: -2%;
        }
    }
}