.contact#contact
    .container
        .section__title
            h2.title Контакты
                span.section__title-icon
                    +svg('list')
        .contact__inner
            .contact__wrapper
                .contact__item
                    .contact__icon
                       +svg('geo')
                    span.contact__text 100000, Москва, ул. Электрозаводская, д.&nbsp;1&nbsp;оф.&nbsp;1
                .contact__item-wrap
                    .contact__item
                        .contact__icon
                            +svg('tel')
                        a(href="tel:88001234567").contact__tel 8 (800) 123-45-67
                    .contact__item
                        .contact__icon
                            +svg('tel')
                        a(href="tel:+74951234567").contact__tel +7 (495) 123-45-67 
                .contact__item
                    .contact__icon
                       +svg('mail')
                    a(href="mailto:info@info.ru").contact__text info@info.ru
            .contact__video
                <video muted="mutted" loop="loop" autoplay="autoplay" width="100%" height="auto" controls="controls" poster="assets/images/video.jpg">
                    <source src="assets/video/EcoWood.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
        .contact__bottom-wrapper
            span.contact__btn-text Остались вопросы?
            button.contact__btn.button.js-popup-show(data-content=".js-popup-feedback") Мы ответим