.contact#contact
    .container
        .section__title
            h2.title Контакты
                span.section__title-icon
                    +svg('list')
        .contact__inner
            .contact__wrapper
                .contact__item
                    .contact__icon
                       +svg('geo')
                    span.contact__text 107023, Москва, Семёновская площадь, 1А
                .contact__item-wrap
                    .contact__item
                        .contact__icon
                            +svg('tel')
                        a(href="tel:88005118355").contact__tel 8 (800) 511-83-55
                    .contact__item
                        .contact__icon
                            +svg('tel')
                        a(href="tel:+74951376255").contact__tel +7 (495) 137-62-55 
                .contact__item
                    .contact__icon
                       +svg('mail')
                    a(href="mailto:info@ecowood.com.ru").contact__text info@ecowood.com.ru
            .contact__pic(style="background-image: url(assets/images/contacts.png)")
        .contact__bottom-wrapper
            span.contact__btn-text Остались вопросы?
            button.contact__btn.button.js-popup-show(data-content=".js-popup-feedback") Мы ответим!