.popup.js-popup-leasing
    .popup-wrap
        .popup__content
            .popup__inner
                .popup__title
                    h2.title Заявка на лизинг
                form.popup__form.form(action="")
                    .form__field
                        label.form__label Ваше имя
                        input.form__input(type="text", name="text" placeholder="Александр")
                    .form__field
                        label.form__label E-mail
                        input.form__input(type="text", name="text" placeholder="E-mail") 
                    .form__field
                        label.form__label Ваш телефон
                        input.form__input(type="text", name="text" placeholder="+7(___)___-__-__") 
                    .form__button
                        button.popup__btn.button(disabled value="Отправить") Отправить  
            .popup__close.js-close.item1
                span.popup__close-line.popup__close-line--left
                span.popup__close-line.popup__close-line--right
.popup.js-popup-price
    .popup-wrap
        .popup__content
            .popup__inner
                .popup__title
                    h2.title Узнать цену на&nbsp;EcoWood 10
                form.popup__form.form(action="")
                    .form__field
                        label.form__label Ваше имя
                        input.form__input(type="text", name="text" placeholder="Александр")
                    .form__field
                        label.form__label E-mail
                        input.form__input(type="text", name="text" placeholder="E-mail") 
                    .form__field
                        label.form__label Ваш телефон
                        input.form__input(type="text", name="text" placeholder="+7(___)___-__-__") 
                    .form__button
                        button.popup__btn.button(disabled value="Отправить") Отправить   
            .popup__close.js-close.item2
                span.popup__close-line.popup__close-line--left
                span.popup__close-line.popup__close-line--right
.popup.js-popup-feedback
    .popup-wrap
        .popup__content
            .popup__inner
                .popup__title
                    h2.title Задайте ваш вопрос
                form.popup__form.form(action="")
                    .form__field
                        label.form__label Ваше имя
                        input.form__input(type="text", name="text" placeholder="Александр")
                    .form__field
                        label.form__label E-mail
                        input.form__input(type="text", name="text" placeholder="E-mail") 
                    .form__field
                        label.form__label Ваш телефон
                        input.form__input(type="text", name="text" placeholder="+7(___)___-__-__")
                    .form__field
                        label.form__label Сообщение
                        textarea.form__textarea(name="text", cols="5", rows="5" placeholder="Ваше сообщение")
                    .form__button
                        button.popup__btn.button(disabled value="Отправить") Отправить   
            .popup__close.js-close.item3
                span.popup__close-line.popup__close-line--left
                span.popup__close-line.popup__close-line--right